* {
    margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: #ebebeb;
    
}

h3{
    font-size: 24px;
    width: 100%;
}

p{
    font-size: 24px;
}

.main-header {
    background-color: #EAC926;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}
.main-header-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-hamburgesa-boton {
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.cont-logo{
    width: 50%;
}

header section div .logo {
    padding: 10px;
}
/*.form-serch{
    width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
}*/
.cont-serch{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.cont-copyheader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

header nav{
    font-size: 12px;
    
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

section.banner img{
    width: 100%;
}

.main-main {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

main section h3{
    margin: 20px 0px;
}

.producto{
    background-color: white;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    margin: 10px 0;
}

/*main section article{
    background-color: white;
    margin: 10px 0px;
    text-align: left; 
    
}*/

main section div img{
    width: 100%;
}
.img-product {
    /*width: 200px;
    height: 200px;*/
    text-align: center;
    padding: 10px;
}

main section article{
    background-color: white;
    margin: 10px 0px;
    text-align: left;
    /*width: 100%;*/
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

main section .producto:hover article{
    display: block;
    
}
main section .producto:hover{
    display: block;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article i, .producto-off{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    right: -85%;
    top: -30px;
}

main section h3{
    color: #666;
}

.precio {
    font-size: 18px;
    width: 30%;
}

main section article p{
    /*display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;*/
    font-size: 16px;
    font-weight: normal;
    
}

.producto-off {
    color: #39b54a;
    width: 70%;
}

.producto-nombre {
    color: #666;  
}

.box-footer {
   /* text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;*/
}
.contenedor-footer{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*margin: 0px 15px;*/
    background-color: #ffffff;
    /*text-align: center;*/
}

.sub-footer {
    padding: 15px;
    width: auto;
}

.text-h4-footer {
    color: #818181;
    margin: 8px;
}

.text-p-footer {
    color: #A3A3A3;
}

.icono-footer {
    width: 2em;
    height: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

/*.icono-footer:hover{
    color: #39b54a;
}*/

.fa-credit-card:hover{
    color: #39b54a;
}
.fa-gift:hover{
    color: #39b54a;
}
.fa-user-shield:hover{
    color: #39b54a;
}

.fin {
    width: auto;
    background-color: #ffffff;
    color: #BCBCBC;
    text-align: left;
}


@media (min-width: 481px) {
    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        /*flex-direction: column;*/
        justify-content: space-between;
    }

header section div.main-header-2 p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.cont-logo{
    width: 30%;
}
.cont-copyheader{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-serch{
    width: 30%;
}

header section nav{
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}
header section nav ul{
    display: flex;
    justify-content: space-around;
}
header section nav ul li{
    list-style-type: none;
    margin: 8px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}
.main-navbar {
    display: block;
}
.menu-hamburgesa-boton {
    display: none;
}

.producto {
    /*box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
    width: 45%;
}
main section .producto:hover article{
    display: block;
}
main section .producto:hover{
    display: block;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

}


@media (min-width: 769px) {
.main-header-top-bar {
    
    display: block;
    justify-content: space-between;
}
.copy-header {
    max-width: 350px;
    text-align: center;
}

.menu-hamburgesa-boton {
    display: none;
}
.main-navbar {
    
    display: flex;
    justify-content: space-between;
}
.main-navbar ul {
    display: flex;
    
}

.main-navbar li {
    margin: 0 5px;

}

.producto {
    /*box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
    width: 23%;
}
main section .producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor-footer{
text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /*margin: 0px 15px;*/
    background-color: #ffffff;
    /*text-align: center;*/
}

.sub-footer {
    padding: 15px;
    width: 33%;
}

.sub-footer p{
    font-size: 12px;

}

.fin {
    text-align: left;
}

.fin p{
    text-align: left;
    font-size: 10px;
}

}