*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    background-color: #ebebeb;
}

.main-header {
    background-color: #EAC926;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}
.main-header-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-hamburgesa-boton {
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.cont-logo{
    width: 50%;
}

header section div .logo {
    padding: 10px;
}
/*.form-serch{
    width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
}*/
.cont-serch{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.cont-copyheader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

header nav{
    font-size: 12px;
    
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    width: 100%;
}

.formulario{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
}
label{
    margin: 10px;
}

.label-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}


label .label-user{
    display: flex;
    justify-content: center;
}

.label-user p{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.input-perf{
    width: 100%;
    text-align: center;
}


.label-cate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.input-cate{
    width: 100%;
    text-align: center;

}
.input-int{
    
}

input{
    margin: 15px;
}
.input-user, .input-pass, .input-email, .input-domicilio, .input-username{
    border: 1px solid #d8d7d7;
}
.input-user, .input-pass, .input-email, .input-domicilio, .input-username{
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btn-enviar, .btn-borrar{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin-top:15px ;
}
.btn-enviar{
    background-color: #39b54a;
    border: none;
}

.btn-enviar a{
    color: white;
    text-decoration: none;
}

.btn-borrar{
    background-color: white;
    color: 39b54a;
    border: 1px solid #39b54a;
    
}
.box-footer {
    /* text-align: center;
     width: 100%;
     margin: 0 auto;
     max-width: 1200px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;*/
 }
 .contenedor-footer{
     text-align: center;
     width: 100%;
     margin: 0 auto;
     max-width: 1200px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     /*margin: 0px 15px;*/
     background-color: #ffffff;
     /*text-align: center;*/
 }
 
 .sub-footer {
     padding: 15px;
     width: auto;
 }
 
 .text-h4-footer {
     color: #818181;
     margin: 8px;
 }
 
 .text-p-footer {
     color: #A3A3A3;
 }
 
 .icono-footer {
     width: 2em;
     height: 2em;
     margin-bottom: 10px;
     color: #03264C;
 }
 .fa-credit-card:hover{
    color: #39b54a;
}
.fa-gift:hover{
    color: #39b54a;
}
.fa-user-shield:hover{
    color: #39b54a;
}
 
 .fin {
     width: auto;
     background-color: #ffffff;
     color: #BCBCBC;
     text-align: left;
 }

@media (min-width: 481px) {
    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        /*flex-direction: column;*/
        justify-content: space-between;
    }

header section div.main-header-2 p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.cont-logo{
    width: 30%;
}
.cont-copyheader{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-serch{
    width: 30%;
}

header section nav{
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}
header section nav ul{
    display: flex;
    justify-content: space-around;
}
header section nav ul li{
    list-style-type: none;
    margin: 8px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}
.main-navbar {
    display: block;
}
.menu-hamburgesa-boton {
    display: none;
}
}

@media (min-width: 769px) {
    .main-header-top-bar {
        
        display: block;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: center;
    }
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
    .menu-hamburgesa-boton {
        display: none;
    }
    .main-navbar {
        
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
        
    }
    
    .main-navbar li {
        margin: 0 5px;
    
    }

    .contenedor-footer{
        text-align: center;
            width: 100%;
            margin: 0 auto;
            max-width: 1200px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            /*margin: 0px 15px;*/
            background-color: #ffffff;
            /*text-align: center;*/
        }
        
        .sub-footer {
            padding: 15px;
            width: 33%;
        }
        
        .sub-footer p{
            font-size: 12px;
        
        }
        
        .fin {
            text-align: left;
        }
        
        .fin p{
            text-align: left;
            font-size: 10px;
        }
}